@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
    background-color:#000;
    color: #ff9800;
}


.parent-div-1 {
    padding: 60px 0;
}

.child-div-1 {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

  /*Header section*/
.child-div-2 {
    text-align: center;
    margin-bottom: 50px;
}

.food-menu-class {
    color: #ff9800;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.food-menu-class::before,.food-menu-class::after{
    content: "";
    width: 45px;
    height: 2px;
    background: #FEA119;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.mostpopular-class {
    font-size: 2.5rem;
    color:white;
    margin-top: 10px;
}

/*navigation tabs*/
.unorderedlist-1 {
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 50px;
}

.nav-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-item a i{
    color: #FEA116;
    margin-right: 15px;
}

.nav-item a h6{
    color:#FEA116;
    font-size: 1rem;
    margin: 0;
}

.nav-item a small{
    color: #666;
}

/*Highlighted/ctive tab effect*/

.nav-item a:hover, .nav-item a.active{
    border-bottom: 2px solid #FEA116;
}

/*Menu item grid*/
.row.g-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.d-flex.align-items-center{
    display: flex;
    align-items: center;
}

/*image styling*/
.flex-shrink-0.img-fluid{
    width: 80px;
    height: 80px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.ps-4{
    padding-left: 1.5rem;
    flex-grow: 1;
}

/* title and price line*/
.border-bottom{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #dee2e6 !important;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FEA116;;
}

.text-primary{
    color: #FEA116 !important;
}

.item-description{
    font-style: italic;
    color: #666;
    font-size: 0.9rem;
}

@media(max-width:992px){
    .row.g-4{
        grid-template-columns: 1fr;
    }
    .unorderedlist-1{
        flex-wrap: wrap;
    }
}
 
@media (max-width: 576px){
    .mostpopular-class{
        font-size: 1.8rem;
    }
    .d-flex.align-items-center{
        flex-direction: column;
        text-align: center;
    }
    .w-100.d-flex.flex-column.text-start.ps-4{
        padding-left: 0;
        padding-top: 15px;
        width: 100%;
    }
    .d-flex.justify-content-between.border-bottom.pb-2{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}



.child-div-2 {
    position: relative;
    background: url('https://i.pinimg.com/736x/7b/6a/18/7b6a18417c7c829ccc717db8cb5264e5.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 20px;
}

.child-div-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.child-div-2 > * {
    position: relative;
    z-index: 1;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .child-div-2 {
        padding: 60px 15px;
        background-position: top center;
    }
}

@media screen and (max-width: 576px) {
    .child-div-2 {
        padding: 40px 10px;
        background-position: top center;
    }
    .child-div-2 > * h1, 
    .child-div-2 > * h5 {
        font-size: 1.5rem;
    }
}
.child-div-2 > * {
    position: relative;
    z-index: 1;
    color: #ffda16;
}